.index-nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;
}

.logo_viliri {
    width: 5%;
    margin-left: 10%;
}

.index-right {
    display: flex;
}

.right_one {
    margin-right: 20px;
}
